---
import BaseLayout from "./BaseLayout.astro";
type Props = {
  frontmatter: any;
};
const { frontmatter } = Astro.props;
const title = frontmatter.title;
const description = frontmatter.description;
---

<BaseLayout {title} {description}>
  <h2>{title}</h2>
  <p>
    <time datetime={frontmatter.pubDate}>{frontmatter.pubDate}</time>
     • _N_ words (goes here)
  </p>
  <img src={frontmatter.image.url} alt={frontmatter.image.alt} width="300" />
  <slot />
</BaseLayout>
